/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{width:1170px;}
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container{width:900px}
    .lg-12{
        width:100%;float:left;
    }
    
    .lg-8{
        width:66.66%;float:left;
    }
    .lg-4{width:33.33%;float:left;}
    .logo {
        margin-left: 50%;
        transform: translateX(-50%);
        padding-top: 20px;
    }


    .menu ul li { 
        margin-right: 3px;
    }
    .header-btn {
        margin: 15px 90px 15px 0;
    }
    .slider-active .title {
        top: 49%;
    }

    .advertise {
        width: 85%;
        margin-left: 20px;
    }
    .icon {
        margin-top: 60px;
        padding-bottom: 10px;
        margin-left: 10px;
    }
    .icon p {
        font-size: 16px;
    }
    .advertise-title {
        padding-top: 240px;
        padding-bottom: 190px;
    }
    .mobile {
        padding: 100px 0;
        padding-left: 50px;
    }

.vidieo-title {
    top: 93px;
    width: 800px;
    margin-left: 50%;
    transform: translateX(-50%);
}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container{width: 750px;;}
    .md-12{
        width:100%;float:left;
    }
    .md-9{
        width:75%;float: left;
    }
    .md-3{
        width:25%;float:left;
    }
    .logo {
        margin-left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
    }
    .menu ul {
        margin-left: 30px;
    }
    .header-btn a {
        margin-right: 28px;
    }
    .slider-active .title {
        top: 80%;
    }
    .advertise {
        padding: 14px 12px;
        
    }
    .advertise {
        width: 90%;
        margin-left: 10px;
    }
    .advertise a.btn {
        margin-right: 0px;

    }
    .advertise h2 {
        font-size: 28px;
    }
    .advertise p {
        font-size: 13px;
    }
    .advertise a.btn{
        margin-right: 10px;
    }
    .icon {
        width: 90%;
        margin-left: 23px;
        padding: 0 15px;
    }

    .advertise-title {
        padding-top: 218px;
        padding-bottom: 168px;
    }

    .play-vidieo {
        left: 42%;
    }
    .vidieo-title {
        width: 500px;
        margin-left: 38%;
        transform: translateX(-40%);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container{max-width: 767px;}
    .sm-12{
        width:100%;float:left;
    }
    .sm-6{
        width:50%;float:left;
    }
    .sm-9{
        width:75%;float: left;
    }
    .sm-3{
        width:25%;float:left;
    }
    .sm-4{width:33.33%;float:left;}
    .language {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .logo {
        margin-left: 22px;
    }
    .menu ul {
        margin-left: 40px;
    }
    .menu ul li {
        margin-right: 0px;
    }
    .advertise {
        padding: 20px 10px; 
    }
    .advertise a.btn {
        margin-right: 2px;  
    }
    .icon {
        margin-left: 50px;
        margin-right: 30px;
    }
    .icon p {
        font-size: 13px;
        padding-right: 17px;
    }
    .advertise-title {
        padding-top: 230px;
        padding-left: 32px;
    }
    .mobile {
        padding-left: 27px;
        padding-right: 10px;
    }
    .text-left {
        text-align: center;
    }
    .agency-text {
        padding-right: 30px;
        padding-left: 35px;
    }
    .menu-icon {
        padding-top: 20px;
        margin-left: 51px;
    }
    .contact-info {
        left: -88px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container{width:100%;}
    .d-none{
        display:none;
    }
    .sm-9{
        width:75%;float: left;
    }
    .sm-3{
        width:25%;float:left;
    }
    .xm-8{
        width:66.66%;float:left;
    }
    .xm-4{
        width:33.33%;float:left;
    }

    .xs-12{
        width:100%;float:left;
    }
    .xs-6{
        width:50%;float:left;
    }
    .logo {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .advertise {
        width: 77%;
        margin-left: 48px;
        margin-top: 5px;
    }
  
}